body {
    background-color: #a36b05;
    height: 100vh;
}

nav {
    width: 1440px;
    height: 88px;
    background: black ;
    text-align: center;
    
}

li {
    display: inline-block;
    margin-right: 15%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

.inicio, .turnos, .servicios {
    text-align: center;
}

#gato, #perro {
    width: 282px;
    height: 284px;
}

.accesorios {
    margin-bottom: 50px;
}

#CP1, #AP1 {
    margin-left: 0%;
    text-decoration: none;
}

.wsp {
    margin-left: 650px;
}

footer{ 
    background: black;
    width: 1440px;
    height: 273px;
}

#ig, #fb {
    width: 79px;
    height: 78px;
}

.t_redes {
    color: white;
    margin-bottom: 50px;
}

#copyright {
    color: white;
}
