body {
    background-color: rgb(236, 173, 58);
}

p {
    margin-bottom: 10px;
}

#importante, #recordatorio_importante {
    margin-top: 50px;
    color: white;
    background-color: red;
}

#importante h5, #recordatorio_importante h5 {
    text-decoration: underline;
}

h5 {
    margin-bottom: 10px;
}

.ropa, .alimento {
    height: 100px; ;
    width: 100px ;
}

.ropa:hover, .alimento:hover {
    transform: scale(3);
}

.peluqueria {
    height: 250px;
    width: 250px;
}

.guarderia {
    height: 250px;
    width: 250px;
    margin-left: 12px;
}

.aqui {
    color: black;
}

footer {
    color: gray;
    background-color: black;
    bottom: 0%;
    position: fixed;
}
