.ropa {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}

.pedidos {
    color: white;
    text-align: center;
    background-color: red;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border: 5px 5px;
}