.subtitulo {
    margin-bottom: 25px;
}

.col {
    border: solid black;
    border: 2px 2px, 2px, 2px;
    border-radius: 15px;
}

.margin {
    margin-bottom: 20px;
}

.somos {
    background-color: rgb(50, 50, 84);
    color: white;
}

.servicios {
    color: white;
    background-color: rgb(120, 55, 177);
}

.tienda {
    color: white;
    background-color: rgb(94, 6, 6);
}

.medico {
    color: white;
    background-color: rgb(186, 58, 58);
}

h5 {
    text-decoration: underline;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}